@page "/GetProductDetail/{ProductId}"
@inherits GetProductDetailModel

@if (Product == null)
{
    <h3>Loading Product details...</h3>
}
else
{
    <h3 class ="mb-5"> Product Details</h3>
    <table class="table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th> Referencia</th>
                                    <th> Cantidad</th>
                                    <th> Nombre</th>
                                    <th> Descripción</th>
                                    <th> Precio</th>
                                    <th> Fecha</th> 
                                </tr>                            
                            </thead>                        
                            <tbody>
                                <tr>
                                        <td> @Product.Reference</td>
                                        <td> @Product.Quantity</td>
                                        <td> @Product.Name</td>
                                        <td> @Product.Description</td>
                                        <td> @Product.Price</td>
                                        <td> @Product.Date</td>  
                                </tr>                           
                            </tbody>
    </table>
    <a href="GetProducts"class="btn btn-primary">Back to list</a>
}
